//
// These styles are meant to augment bootstrap. Not replace.
// We should favor bootstrap classes over these.
//

.debug {
    border: 1px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
}

/**
There is no boostrap for this. This is used
 in PoemLoading right now
 */
.height-400 {
    height: 400px !important;
}

.fancy-header {
  text-shadow: 1px 1px 1px black;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #3a3a3a;
  font-size: 1.4em;
}

.rotate-right {
  transform: rotate(1deg);
}

.rotate-left {
  transform: rotate(-1deg);
}
